.accoridion-container{
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.content-list {
    display: flex;
    width: 70%;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}

.list-item {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
}

.list-header.active .icon-container {
    transform: rotate(45deg);
}

.list-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
}



.list-header.active + .list-content {
    max-height: 500px;
    padding: 15px;
    padding-right: 0px;
}

.icon-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px; /* Отступ слева от h3 */
    transition: transform 0.5s ease;
}



.icon-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
    transform-origin: center center; /* Вращение вокруг центра */
}

.list-header.active .icon-container img {
    transform: rotate(45deg);
}

.list-header {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    border-bottom: 1px solid gray;/* Выравнивание по вертикали */
    transition: background-color 0.3s ease;
}



.list-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}


.list-header.active + .list-content {
    padding: 15px 0;
}

.list-content p {
    padding: 10px 0px;
    margin: 0px;
    text-align: end;
}

.list-content p:last-child {
    margin-bottom: 20px; /* Добавляем отступ снизу для последнего элемента */
}


@media only screen and (max-width: 600px) {
    .content-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: end;
        justify-content: end;
    }
    .list-content p {
        width: 100%;
        padding: 10px 0px;
        margin: 0px;
        text-align: end;
    }
}
